<!--gallery-->

<h3>Центр Раннього Розвитку</h3>
<p>(Діти від 1 до 10 років)</p>

<p>Ми створюємо для дитини спокійну, сприятливу атмосферу, в якій кмітливий малюк отримує відповіді на всі свої запитання у зрозумілій формі, де його не сварять за надмірну допитливість чи активність, де намагаються прислухатись до всіх його бажань.</p>

<p>Наша програма раннього розвитку спрямована на дрібну та крупну моторику, пам'ять, увагу, уяву, тощо.</p>

<p>Ми надаємо вагоме значення координації рухів, відчуттю ритму, фізичному вихованню маляти. В процесі занять діти навчаються малювати, ліпити; осягають основи математики, розвивають мовлення, читання, письмо; пізнають оточуючий їх світ, навчаються співпрацювати з іншими, готуються іти до школи</p>