<%= form_for @picture, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :album_id, :value => params[:album_id] %>
  <p>
    <%= f.file_field :avatar, :required => true, class: "btn btn-large btn-warning" %>
  </p>
  <p><%= f.submit 'Надіслати', class: "btn btn-large btn-danger" %></p>
<% end %>