// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.material{
	padding: 30px;
	border-bottom: 1px solid gray;
}

.multimedia{
	margin-bottom: 40px;
	margin-top:30px;
}
