// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news_show{ 
  .row{
	margin-bottom: 10px;
	text-align: left;}
  h1{
    font-family: 'Allods West Regular' !important;
    color: #D0210A !important;
    font-size: 40px !important;
    font-weight: bold;
    margin-bottom: 10px;
   }
}