// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Foo Regular';
  src:font-url('foo_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bip Regular';
  src:font-url('bip_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Allods West Regular';
  src:font-url('vjnhy6Ic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Romashulka Normal';
  src:url('/assets/romashulka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header{
  min-height: 200px;
  img {
    margin-top: 20px;
    margin-left:40px;}
  .slogan {
    font-size: 28px;
    font-weight: bold;
    font-style:italic;
    color: #6A50A3;
    font-family: 'Bip Regular';
    margin-top: 60px;
    margin-right: 50px;
  }}

  .center{
  	margin: 0 auto;
    margin-bottom: 30px;
  	width: 1020px;
    .btn{
  	  height: 70px;
  	  width: 200px;
  	  font-family: 'Bip Regular';
  	  font-size: 25px;
  	  font-weight:bold;
      color:#343931;
    }
  	.green{
  	  background: #169632;
  	}
    .red{
      background:#F55C29;
    }
    .orange{
      background:#F58529;
    }
    .purple{
  	  background: #B430B0;
  	}
    .yellow{
  	  background: #F6F20D;
  }}

  /*carousel*/
  .carousel-inner, .carousel-inner .item img{
    height: 400px; 
    width: 1200px;
  }
  #myCarousel{
    margin-bottom:30px;
  }


  h2{
   font-family: 'Foo Regular' !important;
   color: #D0210A !important;
   font-size: 40px !important;
  }
  p{
    font-family: 'Allods West Regular';
    color:#498209;
  }

 /*footer*/
footer{
  padding: 20px;
  width:100%;
  font-family: 'Bip Regular';
  h3{
    color: #A32E2E; }
  a, p{
    color: white;









    font-size: 18px; }
  li {
    list-style-type: none;
    text-decoration: none;
    margin-left: -30px;
    }
  img{
    position: relative;
    left: 50px;}
  .links{
    padding-left:30px;}}