// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  background: yellow;
  min-height: 170px;
  img {
  margin-top: 10px;
  margin-left:20px;}
  .slogan {
  font-size: 22px;
  font-weight: bold;
  font-style:italic;
  font-family:Arial;
  margin-top: 60px;
  margin-right: 50px;
  }}

