<footer>
      <div class='row'>
  <div class ="col-md-1">
    <img alt="Слоник" height="150px" src="/assets/elephant.png" width="120px"/>
  </div>
  <div class='col-md-3 links'>
   <h3>Кольоровий Слон</h3>
    <ul> 
     <li>
       <a href='#'>Про нас</a>
      </li>
      <li>
        <a href='#'>Новини</a>
      </li>
      <li>
        <a href='#'>Розклад</a>
      </li>
      <li>
        <a href='#'>Галерея</a>
      </li>
    </ul>
  </div>
  <div className ="col-md-5">
    <h3>Зареєстуватися</h3>
    <input type="submit" value="subscribe"></input>
  </div>
  <div className ="col-md-3">
    <h3>Наші контакти</h3>
    <p>м.Львів, вул.Гординських, 4</p>
    <p>тел.:(067) 724 97 20</p>
  </div>
  </div>
</footer>