<footer>
      <div class='row'>
  <div class ="col-md-3">
    <%= image_tag('elephant.png', alt:"Слоник", height:"200px",  width:"200px", class: 'elephant')%>
  </div>
  <div class='col-md-3 links'>
   <h3>Кольоровий Слон</h3>
    <ul> 
     <li>
       <a href='#'>Про нас</a>
      </li>
      <li>
        <a href='#'>Новини</a>
      </li>
      <li>
        <a href='#'>Розклад</a>
      </li>
      <li>
        <a href='#'>Галерея</a>
      </li>
    </ul>
  </div>   
  <div class ="col-md-3">
    <h3>Наші контакти</h3>
    <p>м.Львів, вул.Гординських, 4</p>
    <p>тел.:(067) 724 97 20</p>
  </div>
  <div class = 'col-md-3'>
    <%= image_tag('palm.png', alt:"Пальма", height:"200px",  width:"200px", class: 'palm')%>
  </div>
  </div>
</footer>