<footer>
      <div class='row'>
  <div class ="col-md-4">
    <img alt="Слоник" height="200px" src="/assets/elephant.png" width="200px"/>
  </div>
  <div class='col-md-4 links'>
   <h3>Кольоровий Слон</h3>
    <ul> 
     <li>
       <a href='#'>Про нас</a>
      </li>
      <li>
        <a href='#'>Новини</a>
      </li>
      <li>
        <a href='#'>Розклад</a>
      </li>
      <li>
        <a href='#'>Галерея</a>
      </li>
    </ul>
  </div>   
  <div className ="col-md-4">
    <h3>Наші контакти</h3>
    <p>м.Львів, вул.Гординських, 4</p>
    <p>тел.:(067) 724 97 20</p>
    <input type="submit" value="Зареєструватися" class='btn btn-lg btn-danger'/>
  </div>
  </div>
</footer>